<style>
  .label {
    font-weight: 700;
    margin-right: .3em;
    width: 7em;
    display: inline-block;
  }
</style>

<div class="content" role="main">

  <h1>Profile Editor</h1>

  <div *ngIf="!displayEdit">
    <h2>User Information</h2>
    <p>
      <span class="label">Name:</span>
      {{user.name}}
    </p>
    <p>
      <span class="label">Age:</span>
      {{user.age}}
    </p>
    <p>
      <span class="label">Favorite color:</span>
      {{user.favoriteColor}}
    </p>
    <p>
      <span class="label">Gender:</span>
      {{user.gender}}
    </p>
    <p>
      <span class="label">Status:</span>
      {{user.active ? "Active" : "Inactive"}}
    </p>
  </div>

  <div *ngIf="displayEdit">
    <h2>Update User Information</h2>
    <form (ngSubmit)="saveChanges()" #editForm="ngForm">
      <p>
        <label for="name" class="label">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="formUser.name">
      </p>
      <p>
        <label for="age" class="label">Age</label>
        <input type="number" id="age" name="age" [(ngModel)]="formUser.age">
      </p>
      <p>
        <label for="favoriteColor" class="label">Favorite Color</label>
        <input type="text" id="favoriteColor" name="favoriteColor" [(ngModel)]="formUser.favoriteColor">
      </p>
      <p>
        <label for="gender" class="label">Gender</label>
        <select [(ngModel)]="formUser.gender" id="gender" name="gender">
          <option *ngFor="let item of genders" [value]="item">{{item}}</option>
        </select>
      </p>
      <p>
        <label for="active" class="label">Status</label>
        <input type="checkbox" id="active" name="active" [(ngModel)]="formUser.active">
      </p>
      <button type="submit">Save changes</button>
    </form>
  </div>

  <p>
    <button (click)="toggleEdit()">Toggle Edit</button>
  </p>

</div>